* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.landing-page, .products, .about-us {
    height: 100vh;
}

.landing-page {
    background-color: #f1f1f1;
}

.home-page-heading {
    color: rgb(59, 137, 226);
    margin-top: 15vh;
}




.about-us-heading::before {
    content: '';
    display: block;
    position: absolute;
    top: 28px;
    left: 5px;
    width: 2px;
    height: 22px;
    background-color: rgb(59, 137, 226);
}
