* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}



.landing-page {
    background-color: #f1f1f1;
    height: 95vh;
}

.home-page-heading {
    color: rgb(59, 137, 226);
    margin-top: 15vh;
}


.about-us {
    height: 100vh;
}


.about-us-heading::before {
    content: '';
    display: block;
    position: absolute;
    top: 34px;
    left: 5px;
    width: 2px;
    height: 23px;
    background-color: rgb(59, 137, 226);
}

.footer {
    background-color: #ddeeff !important;
}
